.card-container{
    margin: 10px;
    text-align: center;
    width:200px;
    height: 280px;
    /* color: antiquewhite; */
    border-radius: 5px;
    /* padding: 20px 0px; */
    /* background-color:  rgba(255, 254, 254, 0.436);
     */
     background-color: rgba(255, 196, 0, 0.68);
    /* background-image: url("https://media.vandal.net/m/4722/gun-2016109122442_1.jpg"); */
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 5px; */
    font-family: fantasy;
}
.card-container:hover{
    max-width:260px;
    box-shadow: 0 40px 80px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(255, 196, 0);

}

#img{
    text-align: center;
    width: 200px;
    height: 150px;
}


.word{
    font-size: 30px;
    font-family: fantasy;
}
