.filt-cont{
    justify-content: space-between;
    margin: 5px;
}

#label{
    font-family: fantasy;
    justify-content: space-between;
}

#filt{
    font-family: fantasy;
    margin-left: 5px;
}

#btn-new-games{
    background-color: rgb(202, 166, 5);
    margin: 5px;
    justify-content: space-between;
    border-style: none;
    font-family: fantasy;
}

#btn-new-games:hover{
    background-color: rgb(255, 209, 5);

}

