.contain-gameDetail{
    display: block;
    /* flex-direction: column; */
    padding: 50px;
    margin: 5% 10%;
    background-color: rgb(205, 207, 207);
    text-align: center;
    /* background-color: rgba(128, 128, 128, 0.564); */
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 840px) {
    .contain-gameDetail{
        margin: auto 
    }

    #img1{
        align-items: center;
        width: auto;
    }
}

@media screen and (max-width: 390px){
    .contain-gameDetail{
        margin: auto 
    }

    #img1{
        align-items: center;
        width: 300px;
    }
}

#img1{
    width: 300px
}

#letras{
    color: yellow
}

.one{
    display: flex;
    justify-content: space-evenly;
    /* text-align: left; */
}

.all-items{
    /* display: flex;
    text-align: center;
    align-content:space-between ;
    margin: 0% 10%;
    background-color: red; */
    display: contents;
    margin: 0px 40px;

}

#plats{
    /* display: flex;
    flex-direction: column; */
    margin: 6px;  
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: goldenrod;
}

#gen{
    margin: 10px;  
    padding: 5px;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: goldenrod;
}

#two{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.525);
}

.first-date{
   display: flex;
   flex-direction: column;
   align-content:space-between ;
}