#btn{
    padding: 5px 5px;
    border: 0px;
    border-radius: 5px;
    background-color: rgb(255, 230, 0);
    font-family:fantasy;
    font-size: 30px;
    color: rgb(40, 40, 255);
    margin-left: 500px;
    margin-top: 230px;
}

#btn:hover{
    /* background-color: beige; */
    padding: 8px 8px;
    border: solid 2px;
    border-color: aliceblue;
}