body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #282c34; */
  /* background: url(sonic.jpg); */
  background: url("https://images6.alphacoders.com/306/thumb-1920-306234.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-position: center; */
  /* position: relative; */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
